<div class="container">
    <h2>Tiki's Tiki-Tiki Drinks List!</h2>
      <h3>A collaborative Drink Library from all of your friends.</h3>

      <div class="content">
        <ul>
          <% Drink.all.each do |d| %>
            <li><a href="/drinks/<%= d.slug %>"><%= d.name %></a></li>
          <% end %>
        </ul>
      </div>

      <div class="content">
        <br>
        <p>Want to <a href="/users/<%= session[:id]%>">go back</a> to your personal collection?</p>
      </div>
    </div>
