<div class="container">
  <h3>Email <%= params["email"] %> already exists!</h3>

  <h4>Log in to your account!</h4>
  <div class="content">
    <br/>
    <form action="/users/login" method="POST">
      <h3>Email: <input type="email" name="email" id="email"></h3>
      <h3>Password: <input type="password" name="password" id="password"></h3>
      <input type="submit" name="submit" id="submit" value="Log in">
    </form>
  </div>

  <div class="content">
    <br/>
    <br/>
    Don't have an account? <a href="/users/new">Sign up</a>!
    <br/>
  </div>
</div>