<div class="container">
  <h2>The Tiki-Tiki Ingredients list</h2>

  <div class="content">
    <ul>
      <% @ingredients.each do |i| %>
        <li><%= i.titlecaser %></a></li>
      <% end %>
    </ul>
  </div>

  <div class="content">
    <br>
    <p><a href="/ingredients/new">Add</a> a new ingredient</p>

    <p><a href="/users/<%= session[:id]%>">Go back</a> to your personal collection</p>
  </div>
</div>

