<div class="container">
    <h2>Create a new cocktail ingredient</h2>

    <div class="content">
      <br>
      <form action="/ingredients" method="POST">
        <h3>Ingredient name: <input type="text" name="name" id="name"></h3>
        <br>
        <input type="submit" name="submit" id="subit" value="Save">
      </form>
    </div>
  </div>
