<div class="container">
  <h2>Welcome to the Tiki-Tiki Drink Database!</h2>

  <div class="content">
    <h3>To start creating your personal drink collection, <a href="/users/new">sign up</a> here!</h3>
  <br>
  <br>
    <p>Already have an account? <a href="/users/login">Log in</a> to access your drinks.</p>
  </div>
</div>
