<div class="container">
    <h2>Welcome to Tiki's Tiki-Tiki Drink Database!</h2>

        <div class="content">
          <p>To access your personal drink collection, <a href="/users/new">sign up</a> here!</p>
        </div>

        <div class="content">
          <p>Already have an account? <a href="/users/login">Log in</a> to access your drinks.</p>
        </div>
        <a href=""></a> <a href=""></a>
</div>
